<a href="https://colab.research.google.com/github/souhaylelhammadi/analytique-des-donn-es-et-informatique-d-cisionnelle/blob/main/tp3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Load the dataset
df = pd.read_csv("ventes.csv")

# Basic exploration
print("=== DATASET SHAPE ===")
print(f"Shape: {df.shape}")  # (rows, columns)

print("\n=== DATASET INFO ===")
df.info()

print("\n=== FIRST 5 ROWS ===")
print(df.head())

print("\n=== LAST 5 ROWS ===")
print(df.tail())

print("\n=== RANDOM 5 ROWS ===")
print(df.sample(5))

print("\n=== STATISTICAL SUMMARY ===")
print(df.describe())

print("\n=== UNIQUE VALUES PER COLUMN ===")
print(df.nunique())

print("\n=== UNIQUE VALUES PER ville ===")
print(df['Ville'].unique())

print("\n=== MISSING VALUES ===")
print(df.isnull().sum())
# pour les statistiques descriptives
print("\n=== MEAN VALUES (NUMERIC COLUMNS ONLY) ===")
print(df.mean(numeric_only=True))

print("\n=== MEDIAN VALUES (NUMERIC COLUMNS ONLY) ===")
print(df.median(numeric_only=True))
print("\n=== STANDARD DEVIATION (NUMERIC COLUMNS ONLY) ===")
print(df.std(numeric_only=True))

print("\n=== MINIMUM VALUES ===")
print(df.min(numeric_only=True))

print("\n=== MAXIMUM VALUES ===")
print(df.max(numeric_only=True))

print("\n=== DUPLICATED ROWS ===")
duplicated_count = df.duplicated().sum()
print(duplicated_count)
df.drop_duplicates(inplace=True) #upprime les lignes en double (doublons) d'un DataFrame pandas, en modifiant directement le DataFrame original.
df.dropna()
print(df)
#df["Ville"]=df["Ville"].fillna(df['Ville'].mode()[0])
df["Prix"]=df["Prix"].fillna(df['Prix'].mean())
print(df)
#df["Chiffre_Affaires"]=df["Chiffre_Affaires"].fillna(df["Chiffre_Affaires"].mean(),inplace=True)
#df["Ville"].fillna(df["Ville"].mode()[0], inplace=True)

print(df)
df["Date"]=pd.to_datetime(df["Date"])
print(df)
#df["Quantite"] = df["Quantite"].astype(int)


Q1 = df["Chiffre_Affaires"].quantile(0.25)
Q3 = df["Chiffre_Affaires"].quantile(0.75)
IQR = Q3 - Q1
outliers = df[(df["Chiffre_Affaires"] < Q1 - 1.5*IQR) | (df["Chiffre_Affaires"] > Q3 + 1.5*IQR)]

df["Quantite_norm"] = (df["Quantite"] - df["Quantite"].min()) / (df["Quantite"].max() - df["Quantite"].min())
df["Quantite_std"] = (df["Quantite"] - df["Quantite"].mean()) / df["Quantite"].std()
print(df)

df_encoded=pd.get_dummies(df, columns=["Ville", "Produit"])
df_encoded
df_final = df_encoded.drop(columns=["ID_Client"])
df_final.to_csv("ventes_nettoyes.csv",index=False)

=== DATASET SHAPE ===
Shape: (30, 7)

=== DATASET INFO ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID_Client         30 non-null     int64
 1   Ville             24 non-null     object
 2   Produit           30 non-null     object
 3   Quantite          30 non-null     int64
 4   Prix              19 non-null     float64
 5   Chiffre_Affaires  24 non-null     float64
 6   Date              30 non-null     object
dtypes: float64(2), int64(2), object(3)
memory usage: 1.8+ KB

=== FIRST 5 ROWS ===
   ID_Client       Ville Produit  Quantite   Prix  Chiffre_Affaires  \
0          1       Oujda       A         6    NaN             500.0
1          2  Casablanca       B        11   75.0            1000.0
2          3       Rabat       C         6   75.0            1000.0
3          4         Fes       A        10  100.0            5000.0
4          5         NaN       B        15   75.0            1000.0

         Date
0  2024-01-01
1  2024-01-02
2  2024-01-03
3  2024-01-04
4  2024-01-05

=== LAST 5 ROWS ===
    ID_Client       Ville Produit  Quantite   Prix  Chiffre_Affaires  \
25         26       Oujda       B        15    NaN             500.0
26         27  Casablanca       C        17    NaN            1000.0
27         28       Rabat       A        15   75.0               NaN
28         29         Fes       B        18   50.0            5000.0
29         30         NaN       C        19  100.0            5000.0

          Date
25  2024-01-26
26  2024-01-27
27  2024-01-28
28  2024-01-29
29  2024-01-30

=== RANDOM 5 ROWS ===
    ID_Client       Ville Produit  Quantite   Prix  Chiffre_Affaires  \
3           4         Fes       A        10  100.0            5000.0
24         25         NaN       A        18    NaN             750.0
13         14         Fes       B         1    NaN             750.0
2           3       Rabat       C         6   75.0            1000.0
21         22  Casablanca       A        13   75.0            1000.0

          Date
3   2024-01-04
24  2024-01-25
13  2024-01-14
2   2024-01-03
21  2024-01-22

=== STATISTICAL SUMMARY ===
       ID_Client   Quantite        Prix  Chiffre_Affaires
count  30.000000  30.000000   19.000000         24.000000
mean   15.500000  11.733333   80.263158       1843.750000
std     8.803408   5.533181   17.832063       1870.556329
min     1.000000   1.000000   50.000000        500.000000
25%     8.250000   6.250000   75.000000        750.000000
50%    15.500000  11.500000   75.000000       1000.000000
75%    22.750000  17.000000  100.000000       2000.000000
max    30.000000  20.000000  100.000000       5000.000000

=== UNIQUE VALUES PER COLUMN ===
ID_Client           30
Ville                4
Produit              3
Quantite            17
Prix                 3
Chiffre_Affaires     4
Date                30
dtype: int64

=== UNIQUE VALUES PER ville ===
['Oujda' 'Casablanca' 'Rabat' 'Fes' nan]

=== MISSING VALUES ===
ID_Client            0
Ville                6
Produit              0
Quantite             0
Prix                11
Chiffre_Affaires     6
Date                 0
dtype: int64

=== MEAN VALUES (NUMERIC COLUMNS ONLY) ===
ID_Client             15.500000
Quantite              11.733333
Prix                  80.263158
Chiffre_Affaires    1843.750000
dtype: float64

=== MEDIAN VALUES (NUMERIC COLUMNS ONLY) ===
ID_Client             15.5
Quantite              11.5
Prix                  75.0
Chiffre_Affaires    1000.0
dtype: float64

=== STANDARD DEVIATION (NUMERIC COLUMNS ONLY) ===
ID_Client              8.803408
Quantite               5.533181
Prix                  17.832063
Chiffre_Affaires    1870.556329
dtype: float64

=== MINIMUM VALUES ===
ID_Client             1.0
Quantite              1.0
Prix                 50.0
Chiffre_Affaires    500.0
dtype: float64

=== MAXIMUM VALUES ===
ID_Client             30.0
Quantite              20.0
Prix                 100.0
Chiffre_Affaires    5000.0
dtype: float64

=== DUPLICATED ROWS ===
0
    ID_Client       Ville Produit  Quantite   Prix  Chiffre_Affaires  \
0           1       Oujda       A         6    NaN             500.0
1           2  Casablanca       B        11   75.0            1000.0
2           3       Rabat       C         6   75.0            1000.0
3           4         Fes       A        10  100.0            5000.0
4           5         NaN       B        15   75.0            1000.0
5           6       Oujda       C        18    NaN               NaN
6           7  Casablanca       A        18    NaN             500.0
7           8       Rabat       B        17   75.0            1000.0
8           9         Fes       C        20  100.0               NaN
9          10         NaN       A         6   75.0            5000.0
10         11       Oujda       B        14   50.0             500.0
11         12  Casablanca       C         4  100.0            5000.0
12         13       Rabat       A         5   75.0            1000.0
13         14         Fes       B         1    NaN             750.0
14         15         NaN       C        12    NaN             750.0
15         16       Oujda       A         6  100.0             750.0
16         17  Casablanca       B         9   50.0               NaN
17         18       Rabat       C         6   75.0               NaN
18         19         Fes       A         7    NaN             500.0
19         20         NaN       B         9    NaN            1000.0
20         21       Oujda       C        20  100.0               NaN
21         22  Casablanca       A        13   75.0            1000.0
22         23       Rabat       B         8    NaN             750.0
23         24         Fes       C         9  100.0            5000.0
24         25         NaN       A        18    NaN             750.0
25         26       Oujda       B        15    NaN             500.0
26         27  Casablanca       C        17    NaN            1000.0
27         28       Rabat       A        15   75.0               NaN
28         29         Fes       B        18   50.0            5000.0
29         30         NaN       C        19  100.0            5000.0

          Date
0   2024-01-01
1   2024-01-02
2   2024-01-03
3   2024-01-04
4   2024-01-05
5   2024-01-06
6   2024-01-07
7   2024-01-08
8   2024-01-09
9   2024-01-10
10  2024-01-11
11  2024-01-12
12  2024-01-13
13  2024-01-14
14  2024-01-15
15  2024-01-16
16  2024-01-17
17  2024-01-18
18  2024-01-19
19  2024-01-20
20  2024-01-21
21  2024-01-22
22  2024-01-23
23  2024-01-24
24  2024-01-25
25  2024-01-26
26  2024-01-27
27  2024-01-28
28  2024-01-29
29  2024-01-30
    ID_Client       Ville Produit  Quantite        Prix  Chiffre_Affaires  \
0           1       Oujda       A         6   80.263158             500.0
1           2  Casablanca       B        11   75.000000            1000.0
2           3       Rabat       C         6   75.000000            1000.0
3           4         Fes       A        10  100.000000            5000.0
4           5         NaN       B        15   75.000000            1000.0
5           6       Oujda       C        18   80.263158               NaN
6           7  Casablanca       A        18   80.263158             500.0
7           8       Rabat       B        17   75.000000            1000.0
8           9         Fes       C        20  100.000000               NaN
9          10         NaN       A         6   75.000000            5000.0
10         11       Oujda       B        14   50.000000             500.0
11         12  Casablanca       C         4  100.000000            5000.0
12         13       Rabat       A         5   75.000000            1000.0
13         14         Fes       B         1   80.263158             750.0
14         15         NaN       C        12   80.263158             750.0
15         16       Oujda       A         6  100.000000             750.0
16         17  Casablanca       B         9   50.000000               NaN
17         18       Rabat       C         6   75.000000               NaN
18         19         Fes       A         7   80.263158             500.0
19         20         NaN       B         9   80.263158            1000.0
20         21       Oujda       C        20  100.000000               NaN
21         22  Casablanca       A        13   75.000000            1000.0
22         23       Rabat       B         8   80.263158             750.0
23         24         Fes       C         9  100.000000            5000.0
24         25         NaN       A        18   80.263158             750.0
25         26       Oujda       B        15   80.263158             500.0
26         27  Casablanca       C        17   80.263158            1000.0
27         28       Rabat       A        15   75.000000               NaN
28         29         Fes       B        18   50.000000            5000.0
29         30         NaN       C        19  100.000000            5000.0

          Date
0   2024-01-01
1   2024-01-02
2   2024-01-03
3   2024-01-04
4   2024-01-05
5   2024-01-06
6   2024-01-07
7   2024-01-08
8   2024-01-09
9   2024-01-10
10  2024-01-11
11  2024-01-12
12  2024-01-13
13  2024-01-14
14  2024-01-15
15  2024-01-16
16  2024-01-17
17  2024-01-18
18  2024-01-19
19  2024-01-20
20  2024-01-21
21  2024-01-22
22  2024-01-23
23  2024-01-24
24  2024-01-25
25  2024-01-26
26  2024-01-27
27  2024-01-28
28  2024-01-29
29  2024-01-30
    ID_Client       Ville Produit  Quantite        Prix  Chiffre_Affaires  \
0           1       Oujda       A         6   80.263158             500.0
1           2  Casablanca       B        11   75.000000            1000.0
2           3       Rabat       C         6   75.000000            1000.0
3           4         Fes       A        10  100.000000            5000.0
4           5         NaN       B        15   75.000000            1000.0
5           6       Oujda       C        18   80.263158               NaN
6           7  Casablanca       A        18   80.263158             500.0
7           8       Rabat       B        17   75.000000            1000.0
8           9         Fes       C        20  100.000000               NaN
9          10         NaN       A         6   75.000000            5000.0
10         11       Oujda       B        14   50.000000             500.0
11         12  Casablanca       C         4  100.000000            5000.0
12         13       Rabat       A         5   75.000000            1000.0
13         14         Fes       B         1   80.263158             750.0
14         15         NaN       C        12   80.263158             750.0
15         16       Oujda       A         6  100.000000             750.0
16         17  Casablanca       B         9   50.000000               NaN
17         18       Rabat       C         6   75.000000               NaN
18         19         Fes       A         7   80.263158             500.0
19         20         NaN       B         9   80.263158            1000.0
20         21       Oujda       C        20  100.000000               NaN
21         22  Casablanca       A        13   75.000000            1000.0
22         23       Rabat       B         8   80.263158             750.0
23         24         Fes       C         9  100.000000            5000.0
24         25         NaN       A        18   80.263158             750.0
25         26       Oujda       B        15   80.263158             500.0
26         27  Casablanca       C        17   80.263158            1000.0
27         28       Rabat       A        15   75.000000               NaN
28         29         Fes       B        18   50.000000            5000.0
29         30         NaN       C        19  100.000000            5000.0

          Date
0   2024-01-01
1   2024-01-02
2   2024-01-03
3   2024-01-04
4   2024-01-05
5   2024-01-06
6   2024-01-07
7   2024-01-08
8   2024-01-09
9   2024-01-10
10  2024-01-11
11  2024-01-12
12  2024-01-13
13  2024-01-14
14  2024-01-15
15  2024-01-16
16  2024-01-17
17  2024-01-18
18  2024-01-19
19  2024-01-20
20  2024-01-21
21  2024-01-22
22  2024-01-23
23  2024-01-24
24  2024-01-25
25  2024-01-26
26  2024-01-27
27  2024-01-28
28  2024-01-29
29  2024-01-30
    ID_Client       Ville Produit  Quantite        Prix  Chiffre_Affaires  \
0           1       Oujda       A         6   80.263158             500.0
1           2  Casablanca       B        11   75.000000            1000.0
2           3       Rabat       C         6   75.000000            1000.0
3           4         Fes       A        10  100.000000            5000.0
4           5         NaN       B        15   75.000000            1000.0
5           6       Oujda       C        18   80.263158               NaN
6           7  Casablanca       A        18   80.263158             500.0
7           8       Rabat       B        17   75.000000            1000.0
8           9         Fes       C        20  100.000000               NaN
9          10         NaN       A         6   75.000000            5000.0
10         11       Oujda       B        14   50.000000             500.0
11         12  Casablanca       C         4  100.000000            5000.0
12         13       Rabat       A         5   75.000000            1000.0
13         14         Fes       B         1   80.263158             750.0
14         15         NaN       C        12   80.263158             750.0
15         16       Oujda       A         6  100.000000             750.0
16         17  Casablanca       B         9   50.000000               NaN
17         18       Rabat       C         6   75.000000               NaN
18         19         Fes       A         7   80.263158             500.0
19         20         NaN       B         9   80.263158            1000.0
20         21       Oujda       C        20  100.000000               NaN
21         22  Casablanca       A        13   75.000000            1000.0
22         23       Rabat       B         8   80.263158             750.0
23         24         Fes       C         9  100.000000            5000.0
24         25         NaN       A        18   80.263158             750.0
25         26       Oujda       B        15   80.263158             500.0
26         27  Casablanca       C        17   80.263158            1000.0
27         28       Rabat       A        15   75.000000               NaN
28         29         Fes       B        18   50.000000            5000.0
29         30         NaN       C        19  100.000000            5000.0

         Date
0  2024-01-01
1  2024-01-02
2  2024-01-03
3  2024-01-04
4  2024-01-05
5  2024-01-06
6  2024-01-07
7  2024-01-08
8  2024-01-09
9  2024-01-10
10 2024-01-11
11 2024-01-12
12 2024-01-13
13 2024-01-14
14 2024-01-15
15 2024-01-16
16 2024-01-17
17 2024-01-18
18 2024-01-19
19 2024-01-20
20 2024-01-21
21 2024-01-22
22 2024-01-23
23 2024-01-24
24 2024-01-25
25 2024-01-26
26 2024-01-27
27 2024-01-28
28 2024-01-29
29 2024-01-30
    ID_Client       Ville Produit  Quantite        Prix  Chiffre_Affaires  \
0           1       Oujda       A         6   80.263158             500.0
1           2  Casablanca       B        11   75.000000            1000.0
2           3       Rabat       C         6   75.000000            1000.0
3           4         Fes       A        10  100.000000            5000.0
4           5         NaN       B        15   75.000000            1000.0
5           6       Oujda       C        18   80.263158               NaN
6           7  Casablanca       A        18   80.263158             500.0
7           8       Rabat       B        17   75.000000            1000.0
8           9         Fes       C        20  100.000000               NaN
9          10         NaN       A         6   75.000000            5000.0
10         11       Oujda       B        14   50.000000             500.0
11         12  Casablanca       C         4  100.000000            5000.0
12         13       Rabat       A         5   75.000000            1000.0
13         14         Fes       B         1   80.263158             750.0
14         15         NaN       C        12   80.263158             750.0
15         16       Oujda       A         6  100.000000             750.0
16         17  Casablanca       B         9   50.000000               NaN
17         18       Rabat       C         6   75.000000               NaN
18         19         Fes       A         7   80.263158             500.0
19         20         NaN       B         9   80.263158            1000.0
20         21       Oujda       C        20  100.000000               NaN
21         22  Casablanca       A        13   75.000000            1000.0
22         23       Rabat       B         8   80.263158             750.0
23         24         Fes       C         9  100.000000            5000.0
24         25         NaN       A        18   80.263158             750.0
25         26       Oujda       B        15   80.263158             500.0
26         27  Casablanca       C        17   80.263158            1000.0
27         28       Rabat       A        15   75.000000               NaN
28         29         Fes       B        18   50.000000            5000.0
29         30         NaN       C        19  100.000000            5000.0

         Date  Quantite_norm  Quantite_std
0  2024-01-01       0.263158     -1.036173
1  2024-01-02       0.526316     -0.132534
2  2024-01-03       0.263158     -1.036173
3  2024-01-04       0.473684     -0.313262
4  2024-01-05       0.736842      0.590378
5  2024-01-06       0.894737      1.132561
6  2024-01-07       0.894737      1.132561
7  2024-01-08       0.842105      0.951833
8  2024-01-09       1.000000      1.494017
9  2024-01-10       0.263158     -1.036173
10 2024-01-11       0.684211      0.409650
11 2024-01-12       0.157895     -1.397629
12 2024-01-13       0.210526     -1.216901
13 2024-01-14       0.000000     -1.939812
14 2024-01-15       0.578947      0.048194
15 2024-01-16       0.263158     -1.036173
16 2024-01-17       0.421053     -0.493990
17 2024-01-18       0.263158     -1.036173
18 2024-01-19       0.315789     -0.855445
19 2024-01-20       0.421053     -0.493990
20 2024-01-21       1.000000      1.494017
21 2024-01-22       0.631579      0.228922
22 2024-01-23       0.368421     -0.674717
23 2024-01-24       0.421053     -0.493990
24 2024-01-25       0.894737      1.132561
25 2024-01-26       0.736842      0.590378
26 2024-01-27       0.842105      0.951833
27 2024-01-28       0.736842      0.590378
28 2024-01-29       0.894737      1.132561
29 2024-01-30       0.947368      1.313289