<a href="https://colab.research.google.com/github/souhaylelhammadi/analytique-des-donn-es-et-informatique-d-cisionnelle/blob/main/TP3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Load the dataset
df = pd.read_csv("ventes_1000.csv")

# Basic exploration
print("=== DATASET SHAPE ===")
print(f"Shape: {df.shape}")  # (rows, columns)

print("\n=== DATASET INFO ===")
df.info()

print("\n=== FIRST 5 ROWS ===")
print(df.head())

print("\n=== LAST 5 ROWS ===")
print(df.tail())

print("\n=== RANDOM 5 ROWS ===")
print(df.sample(5))

print("\n=== STATISTICAL SUMMARY ===")
print(df.describe())

print("\n=== UNIQUE VALUES PER COLUMN ===")
print(df.nunique())

print("\n=== UNIQUE VALUES PER ville ===")
print(df['Ville'].unique())

print("\n=== MISSING VALUES ===")
print(df.isnull().sum())
# pour les statistiques descriptives
print("\n=== MEAN VALUES (NUMERIC COLUMNS ONLY) ===")
print(df.mean(numeric_only=True))

print("\n=== MEDIAN VALUES (NUMERIC COLUMNS ONLY) ===")
print(df.median(numeric_only=True))
print("\n=== STANDARD DEVIATION (NUMERIC COLUMNS ONLY) ===")
print(df.std(numeric_only=True))

print("\n=== MINIMUM VALUES ===")
print(df.min(numeric_only=True))

print("\n=== MAXIMUM VALUES ===")
print(df.max(numeric_only=True))

print("\n=== DUPLICATED ROWS ===")
duplicated_count = df.duplicated().sum()
print(duplicated_count)
df.drop_duplicates(inplace=True) #upprime les lignes en double (doublons) d'un DataFrame pandas, en modifiant directement le DataFrame original.
df.dropna()



df["Ville"] = df["Ville"].fillna(df["Ville"].mode()[0])
df["Produit"] = df["Produit"].fillna(df["Produit"].mode()[0])
df["Quantite"] = df["Quantite"].fillna(df["Quantite"].mean())
df["Prix"] = df["Prix"].fillna(df["Prix"].mean())
df["Chiffre_Affaires"] = df["Chiffre_Affaires"].fillna(df["Chiffre_Affaires"].mean())
df["ID_Client"] = df["ID_Client"].fillna(df["ID_Client"].mean())

df["Date"]=pd.to_datetime(df["Date"])

df["Quantite"] = df["Quantite"].astype(int)


Q1 = df["Chiffre_Affaires"].quantile(0.25)
Q3 = df["Chiffre_Affaires"].quantile(0.75)
IQR = Q3 - Q1
outliers = df[(df["Chiffre_Affaires"] < Q1 - 1.5*IQR) | (df["Chiffre_Affaires"] > Q3 + 1.5*IQR)]
#Normalisation
df["Quantite_norm"] = (df["Quantite"] - df["Quantite"].min()) / (df["Quantite"].max() - df["Quantite"].min())
#standarisation
df["Quantite_std"] = (df["Quantite"] - df["Quantite"].mean()) / df["Quantite"].std()
print(df)

#6. Encoder les variables cat√©gorielles

df_encoded=pd.get_dummies(df, columns=["Ville", "Produit"])
df_encoded
df_final = df_encoded.drop(columns=["ID_Client"])
df_final.to_csv("ventes_1000_nettoyes.csv",index=False)

=== DATASET SHAPE ===
Shape: (1000, 7)

=== DATASET INFO ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID_Client         1000 non-null   int64
 1   Ville             981 non-null    object
 2   Produit           1000 non-null   object
 3   Quantite          950 non-null    float64
 4   Prix              905 non-null    float64
 5   Date              1000 non-null   object
 6   Chiffre_Affaires  859 non-null    float64
dtypes: float64(3), int64(1), object(3)
memory usage: 54.8+ KB

=== FIRST 5 ROWS ===
   ID_Client      Ville    Produit  Quantite  Prix        Date  \
0        103  Marrakech  Produit_A       2.0  20.0  2023-01-30
1        271      Rabat  Produit_A      29.0  50.0  2023-02-14
2        107     Agadir  Produit_B      38.0  35.0  2023-10-02
3         72  Marrakech  Produit_A       3.0  50.0  2023-02-03
4        189      Rabat  Produit_B      16.0   NaN  2023-05-21

   Chiffre_Affaires
0              40.0
1            1450.0
2            1330.0
3             150.0
4               NaN

=== LAST 5 ROWS ===
     ID_Client       Ville    Produit  Quantite   Prix        Date  \
995        215   Marrakech  Produit_D      18.0   35.0  2023-03-26
996        211       Rabat  Produit_C       NaN   50.0  2023-12-16
997         32      Tanger  Produit_D       8.0   20.0  2023-03-22
998        158  Casablanca  Produit_B      33.0   20.0  2023-11-21
999        285         Fes  Produit_C      49.0  100.0  2023-03-10

     Chiffre_Affaires
995             630.0
996               NaN
997             160.0
998             660.0
999            4900.0

=== RANDOM 5 ROWS ===
     ID_Client       Ville    Produit  Quantite  Prix        Date  \
645        255      Tanger  Produit_D      46.0  20.0  2023-05-14
417        179      Tanger  Produit_D      23.0  50.0  2023-10-05
205        129  Casablanca  Produit_D      15.0  50.0  2023-02-12
569        122         Fes  Produit_D      40.0  75.0  2023-04-21
947        214         Fes  Produit_C      18.0   NaN  2023-10-19

     Chiffre_Affaires
645             920.0
417            1150.0
205             750.0
569            3000.0
947               NaN

=== STATISTICAL SUMMARY ===
         ID_Client    Quantite        Prix  Chiffre_Affaires
count  1000.000000  950.000000  905.000000        859.000000
mean    150.724000   25.448421   57.447514       1436.915017
std      85.444488   14.164805   28.460766       1157.650580
min       1.000000    1.000000   20.000000         20.000000
25%      79.500000   13.000000   35.000000        525.000000
50%     150.500000   26.000000   50.000000       1100.000000
75%     224.250000   37.000000   75.000000       2075.000000
max     300.000000   49.000000  100.000000       4900.000000

=== UNIQUE VALUES PER COLUMN ===
ID_Client           285
Ville                 7
Produit               4
Quantite             49
Prix                  5
Date                339
Chiffre_Affaires    176
dtype: int64

=== UNIQUE VALUES PER ville ===
['Marrakech' 'Rabat' 'Agadir' 'Fes' 'Oujda' 'Casablanca' 'Tanger' nan]

=== MISSING VALUES ===
ID_Client             0
Ville                19
Produit               0
Quantite             50
Prix                 95
Date                  0
Chiffre_Affaires    141
dtype: int64

=== MEAN VALUES (NUMERIC COLUMNS ONLY) ===
ID_Client            150.724000
Quantite              25.448421
Prix                  57.447514
Chiffre_Affaires    1436.915017
dtype: float64

=== MEDIAN VALUES (NUMERIC COLUMNS ONLY) ===
ID_Client            150.5
Quantite              26.0
Prix                  50.0
Chiffre_Affaires    1100.0
dtype: float64

=== STANDARD DEVIATION (NUMERIC COLUMNS ONLY) ===
ID_Client             85.444488
Quantite              14.164805
Prix                  28.460766
Chiffre_Affaires    1157.650580
dtype: float64

=== MINIMUM VALUES ===
ID_Client            1.0
Quantite             1.0
Prix                20.0
Chiffre_Affaires    20.0
dtype: float64

=== MAXIMUM VALUES ===
ID_Client            300.0
Quantite              49.0
Prix                 100.0
Chiffre_Affaires    4900.0
dtype: float64

=== DUPLICATED ROWS ===
0
     ID_Client       Ville    Produit  Quantite        Prix       Date  \
0          103   Marrakech  Produit_A         2   20.000000 2023-01-30
1          271       Rabat  Produit_A        29   50.000000 2023-02-14
2          107      Agadir  Produit_B        38   35.000000 2023-10-02
3           72   Marrakech  Produit_A         3   50.000000 2023-02-03
4          189       Rabat  Produit_B        16   57.447514 2023-05-21
..         ...         ...        ...       ...         ...        ...
995        215   Marrakech  Produit_D        18   35.000000 2023-03-26
996        211       Rabat  Produit_C        25   50.000000 2023-12-16
997         32      Tanger  Produit_D         8   20.000000 2023-03-22
998        158  Casablanca  Produit_B        33   20.000000 2023-11-21
999        285         Fes  Produit_C        49  100.000000 2023-03-10

     Chiffre_Affaires  Quantite_norm  Quantite_std
0           40.000000       0.020833     -1.696783
1         1450.000000       0.583333      0.258871
2         1330.000000       0.770833      0.910755
3          150.000000       0.041667     -1.624351
4         1436.915017       0.312500     -0.682740
..                ...            ...           ...
995        630.000000       0.354167     -0.537877
996       1436.915017       0.500000     -0.030856
997        160.000000       0.145833     -1.262193
998        660.000000       0.666667      0.548597
999       4900.000000       1.000000      1.707503

[1000 rows x 9 columns]